openapi: 3.0.3
info:
  title: Bank Account API
  version: 1.0.0
servers:
  - url: https://bank-api.app-meyers.be
tags:
  - name: account
    description: account
paths:
  /account:
    post:
      tags:
        - account
      operationId: createAccount
      summary: Create a new bank account
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateAccountRequest'
      responses:
        303:
          description: Account successfully created and redirect to bank account login
          headers:
            Location:
              description: URL to the login page
              schema:
                type: string
                example: https://example.com/account/2deaad99-d8a1-45bd-8e0f-788e154cf44e
        400:
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetailResponse'
    get:
      tags:
        - account
      operationId: getAllAccounts
      summary: Get all accounts
      responses:
        200:
          description: Request successfully processed
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/AccountResponse'
  /account/{id}:
    post:
      tags:
        - account
      operationId: loginToAccount
      summary: Login to account by id
      parameters:
        - name: id
          in: path
          description: account id
          required: true
          schema:
            type: string
            format: uuid
            example: 2deaad99-d8a1-45bd-8e0f-788e154cf44e
      responses:
        303:
          description: Request successfully processed and redirect to bank account login
          headers:
            Location:
              description: URL to the login page
              schema:
                type: string
                example: https://example.com/account/2deaad99-d8a1-45bd-8e0f-788e154cf44e
        404:
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetailResponse'
  /account/webhook:
    get:
      tags:
        - account
      operationId: webhook
      summary: Webhook
      parameters:
        - name: ref
          in: query
          description: reference
          required: true
          schema:
            type: string
            format: uuid
      responses:
        303:
          description: Request successfully processed and redirect to frontend
          headers:
            Location:
              description: URL to the login page
              schema:
                type: string
                example: https://frontend.example.com/account/2deaad99-d8a1-45bd-8e0f-788e154cf44e
  /account/sync:
    get:
      tags:
        - account
      operationId: sync
      summary: Sync
      responses:
        204:
          description: Request successfully processed
components:
  schemas:
    CreateAccountRequest:
      type: object
      required:
        - bank
      properties:
        bank:
          type: string
          enum:
            - ING_BBRUBEBB
            - BELFIUS_GKCCBEBB
          example: BELFIUS_GKCCBEBB
    AccountResponse:
      required:
        - id
        - name
        - status
      type: object
      properties:
        id:
          type: string
          format: uuid
          example: 506057cc-0cbb-4a5b-b199-e0f7101bd75a
        name:
          type: string
          example: ING
        status:
          type: string
          example: OPEN
    ProblemDetailResponse:
      required:
        - title
        - status
        - detail
        - instance
      properties:
        title:
          type: string
          description: A short, human-readable summary of the problem type
        status:
          type: integer
          description: The HTTP status code generated by the origin server for this occurrence of the problem
          example: 400
        detail:
          type: string
          description: A human-readable explanation specific to this occurrence of the problem
        instance:
          type: string
          description: A URI reference that identifies the specific occurrence of the problem
          example: /account
