openapi: 3.0.3
info:
  title: Bank Account API
  version: 1.0.0
servers:
  - url: https://bank-api.app-meyers.be
tags:
  - name: contact
    description: contact
paths:
  /contact:
    post:
      tags:
        - contact
      operationId: createContact
      summary: Create a new contact
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateContactRequest'
      responses:
        201:
          description: Contact successfully created
          headers:
            Location:
              description: URL to the contact resource
              schema:
                type: string
                example: /contact/2deaad99-d8a1-45bd-8e0f-788e154cf44e
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ContactResponse'
        400:
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetailResponse'
    get:
      tags:
        - contact
      operationId: getAllContacts
      summary: Get all contacts
      responses:
        200:
          description: Request successfully processed
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ContactResponse'
  /contact/{id}:
    get:
      tags:
        - contact
      operationId: getContactById
      summary: Get contact by id
      parameters:
        - name: id
          in: path
          description: contact id
          required: true
          schema:
            type: string
            format: uuid
            example: 2deaad99-d8a1-45bd-8e0f-788e154cf44e
      responses:
        200:
          description: Request successfully processed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ContactResponse'
        404:
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetailResponse'
components:
  schemas:
    CreateContactRequest:
      type: object
      required:
        - iban
        - name
      properties:
        iban:
          type: string
          example: iban-nummer
        name:
          type: string
          example: Nicholas Meyers
    ContactResponse:
      required:
        - id
        - iban
        - name
      type: object
      properties:
        id:
          type: string
          format: uuid
          example: 506057cc-0cbb-4a5b-b199-e0f7101bd75a
        iban:
          type: string
          example: iban
        name:
          type: string
          example: Nicholas Meyers
    ProblemDetailResponse:
      required:
        - title
        - status
        - detail
        - instance
      properties:
        title:
          type: string
          description: A short, human-readable summary of the problem type
        status:
          type: integer
          description: The HTTP status code generated by the origin server for this occurrence of the problem
          example: 404
        detail:
          type: string
          description: A human-readable explanation specific to this occurrence of the problem
        instance:
          type: string
          description: A URI reference that identifies the specific occurrence of the problem
          example: /contact
