openapi: 3.0.3
info:
  title: Bank Account API
  version: 1.0.0
servers:
  - url: https://bank-api.app-meyers.be
tags:
  - name: exclude
    description: exclude
paths:
  /exclude:
    post:
      tags:
        - exclude
      operationId: createExclude
      summary: Create a new exclude
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateExcludeRequest'
      responses:
        201:
          description: Exclude successfully created
          headers:
            Location:
              description: URL to the exclude resource
              schema:
                type: string
                example: /exclude/2deaad99-d8a1-45bd-8e0f-788e154cf44e
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExcludeResponse'
        400:
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetailResponse'
    get:
      tags:
        - exclude
      operationId: getAllExcludes
      summary: Get all excludes
      responses:
        200:
          description: Request successfully processed
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ExcludeResponse'
  /exclude/{id}:
    get:
      tags:
        - exclude
      operationId: getExcludeById
      summary: Get exclude by id
      parameters:
        - name: id
          in: path
          description: exclude id
          required: true
          schema:
            type: string
            format: uuid
            example: 2deaad99-d8a1-45bd-8e0f-788e154cf44e
      responses:
        200:
          description: Request successfully processed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExcludeResponse'
        404:
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetailResponse'
components:
  schemas:
    CreateExcludeRequest:
      type: object
      required:
        - iban
        - bank
      properties:
        iban:
          type: string
          example: iban-nummer
        bank:
          type: string
          example: ING
    ExcludeResponse:
      required:
        - id
        - iban
        - bank
      type: object
      properties:
        id:
          type: string
          format: uuid
          example: 506057cc-0cbb-4a5b-b199-e0f7101bd75a
        iban:
          type: string
          example: iban
        bank:
          type: string
          example: ING
    ProblemDetailResponse:
      required:
        - title
        - status
        - detail
        - instance
      properties:
        title:
          type: string
          description: A short, human-readable summary of the problem type
        status:
          type: integer
          description: The HTTP status code generated by the origin server for this occurrence of the problem
          example: 404
        detail:
          type: string
          description: A human-readable explanation specific to this occurrence of the problem
        instance:
          type: string
          description: A URI reference that identifies the specific occurrence of the problem
          example: /exclude
