openapi: 3.0.3
info:
  title: Bank Account API
  version: 1.0.0
servers:
  - url: https://bank-api.app-meyers.be
tags:
  - name: tag
    description: tag
paths:
  /tag:
    post:
      tags:
        - tag
      operationId: createTag
      summary: Create a new tag
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateTagRequest'
      responses:
        201:
          description: Tag successfully created
          headers:
            Location:
              description: URL to the tag resource
              schema:
                type: string
                example: /tag/2deaad99-d8a1-45bd-8e0f-788e154cf44e
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TagResponse'
        400:
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetailResponse'
    get:
      tags:
        - tag
      operationId: getAllTags
      summary: Get all tags
      responses:
        200:
          description: Request successfully processed
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/TagResponse'
  /tag/{id}:
    get:
      tags:
        - tag
      operationId: getTagById
      summary: Get tag by id
      parameters:
        - name: id
          in: path
          description: tag id
          required: true
          schema:
            type: string
            format: uuid
            example: 2deaad99-d8a1-45bd-8e0f-788e154cf44e
      responses:
        200:
          description: Request successfully processed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TagResponse'
        404:
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetailResponse'
components:
  schemas:
    CreateTagRequest:
      type: object
      required:
        - name
        - description
      properties:
        name:
          type: string
          example: festival
        description:
          type: string
          example: Festival tickets/food/drinks
    TagResponse:
      required:
        - id
        - name
        - description
      type: object
      properties:
        id:
          type: string
          format: uuid
          example: 506057cc-0cbb-4a5b-b199-e0f7101bd75a
        name:
          type: string
          example: festival
        description:
          type: string
          example: Festival tickets/food/drinks
    ProblemDetailResponse:
      required:
        - title
        - status
        - detail
        - instance
      properties:
        title:
          type: string
          description: A short, human-readable summary of the problem type
        status:
          type: integer
          description: The HTTP status code generated by the origin server for this occurrence of the problem
          example: 404
        detail:
          type: string
          description: A human-readable explanation specific to this occurrence of the problem
        instance:
          type: string
          description: A URI reference that identifies the specific occurrence of the problem
          example: /tag
