openapi: 3.0.3
info:
  title: Bank Account API
  version: 1.0.0
servers:
  - url: https://bank-api.app-meyers.be
tags:
  - name: transaction
    description: transaction
paths:
  /transaction/overview:
    get:
      tags:
        - transaction
      operationId: getOverview
      summary: get overview of the last months
      responses:
        200:
          description: Request successfully processed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TransactionOverviewResponse'
        400:
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetailResponse'
  /transaction/stats/{month}:
    get:
      tags:
        - transaction
      operationId: getStats
      summary: Get stats of specific month
      parameters:
        - in: path
          name: month
          schema:
            type: string
            format: date
            example: 2024-05-16
          description: ISO 8601 format date
          required: true
      responses:
        200:
          description: Request successfully processed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TransactionStatsResponse'
components:
  schemas:
    TransactionOverviewResponse:
      type: object
      required:
        - datasets
        - labels
      properties:
        datasets:
          type: array
          items:
            $ref: '#/components/schemas/TransactionOverviewDatasetResponse'
        labels:
          type: array
          items:
            type: string
    TransactionOverviewDatasetResponse:
      type: object
      required:
        - data
        - label
        - backgroundColor
        - borderColor
        - pointBackgroundColor
        - pointBorderColor
        - pointHoverBackgroundColor
        - pointHoverBorderColor
        - fill
      properties:
        data:
          type: array
          items:
            type: number
            format: double
        label:
          type: string
          example: Income
        backgroundColor:
          type: string
          example: rgba(86,201,103,0.2)
        borderColor:
          type: string
          example: rgba(86,201,103,1)
        pointBackgroundColor:
          type: string
          example: rgba(86,201,103,1)
        pointBorderColor:
          type: string
          example: #fff
        pointHoverBackgroundColor:
          type: string
          example: #fff
        pointHoverBorderColor:
          type: string
          example: rgba(86,201,103,1)
        fill:
          type: string
          example: origin
    TransactionStatsResponse:
      required:
        - incoming
        - outgoing
      type: object
      properties:
        incoming:
          type: array
          items:
            $ref: '#/components/schemas/TransactionDetailStatsResponse'
        outgoing:
          type: array
          items:
            $ref: '#/components/schemas/TransactionDetailStatsResponse'
    TransactionDetailStatsResponse:
      required:
        - name
        - amount
        - currency
        - bookingDate
      type: object
      properties:
        name:
          type: string
          example: Nicholas Meyers
        amount:
          type: number
          format: double
          example: 14.3
        currency:
          type: string
          example: EUR
        bookingDate:
          type: string
          example: 10/10/2024
    ProblemDetailResponse:
      required:
        - title
        - status
        - detail
        - instance
      properties:
        title:
          type: string
          description: A short, human-readable summary of the problem type
        status:
          type: integer
          description: The HTTP status code generated by the origin server for this occurrence of the problem
          example: 404
        detail:
          type: string
          description: A human-readable explanation specific to this occurrence of the problem
        instance:
          type: string
          description: A URI reference that identifies the specific occurrence of the problem
          example: /transaction
