<div class="container-fluid">
    <div class="row">
        <div [ngClass]="{ 'bg-dark': isDarkMode }" class="col-md-2 pt-4">
            <div class="d-flex flex-column">
                @if (isDarkMode) {
                    @for (account of accounts; track account) {
                        <button type="button" class="btn btn-outline-light mb-3">Login {{ getName(account.name) }}</button>
                    }
                    @if (showSyncButton) {
                        <button (click)="sync()" type="button" class="btn btn-outline-light mb-3">Sync</button>
                    }
                    <button (click)="openTable()" type="button" class="btn btn-outline-light mb-3">Table</button>
                    <button (click)="logout()" type="button" class="btn btn-outline-light mb-3">Logout</button>
                } @else {
                    @for (account of accounts; track account) {
                        <button type="button" class="btn btn-outline-dark mb-3">Login {{ getName(account.name) }}</button>
                    }
                    @if (showSyncButton) {
                        <button (click)="sync()" type="button" class="btn btn-outline-dark mb-3">Sync</button>
                    }
                    <button (click)="openTable()" type="button" class="btn btn-outline-dark mb-3">Table</button>
                    <button (click)="logout()" type="button" class="btn btn-outline-dark mb-3">Logout</button>
                }
            </div>
        </div>

        <div [ngClass]="{ 'bg-dark': isDarkMode }" class="col-md-10">
            <div class="p-4">
                <h2 [ngClass]="{ 'text-white': isDarkMode }" class="mb-4">Monthly Income & Expenses Overview</h2>
                <canvas id="chart">{{ chart }}</canvas>
            </div>
        </div>
    </div>
</div>
